@include:1;
.video{
    position: relative;
    width:1200px*@include;
    height:675px*@include;
    margin: 0 auto;
    margin-top: 24px*@include;
    margin-bottom: 48px*@include;
    video{
        width: 100%;
        height: 100%;
    }
}

.alle{
    width: 850px;
    text-overflow: ellipsis;
}

#viewer{
    margin: 0 auto;
    margin-bottom: 100px*@include;
}

.mokbao{
    font-weight:bold !important; 
    font-size:.333333rem;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(58,58,58,1);
}

.desc1a{
    letter-spacing: 2px;
    height: 199px*@include;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dom{
    width: 100%;
    height: 50px*@include;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    width:90px*@include;
    height:90px*@include;
    transform: translate(-50%,-50%);
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

.ww{
    width: 307px*@include;
    height: 230px*@include;
    margin-right: 20px*@include;
}

.llki{
    border-bottom:1px solid  #EBECEB;
    height: 280px !important;
}

.wds{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 750px) and (max-width: 1366px) {
    @include:0.7;
    .video{
        position: relative;
        width:1200px*@include;
        height:675px*@include;
        margin: 0 auto;
        margin-top: 24px*@include;
        margin-bottom: 48px*@include;
        video{
            width: 100%;
            height: 100%;
        }
    }
    
    .alle{
        width: 850px@include;
        text-overflow: ellipsis;
    }
    
    #viewer{
        margin: 0 auto;
        margin-bottom: 100px@include;
    }
    
    .mokbao{
        font-weight:bold !important; 
        font-size:.333333rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(58,58,58,1);
    }
    
    .desc1a{
        letter-spacing: 2px;
        height: 199px*@include;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .dom{
        width: 100%;
        height: 50px*@include;
    }
    
    .play{
        position: absolute;
        top: 50%;
        left: 50%;
        width:90px*@include;
        height:90px*@include;
        transform: translate(-50%,-50%);
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .mkwei{
        width: 1100px !important;
    }
    .ww{
        width: 307px*@include;
        height: 230px*@include;
        margin-right: 20px*@include;
    }
    
    .llki{
        border-bottom:1px solid  #EBECEB;
        height: 280px*@include !important;
    }
    
    .wds{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
    @include:1;
.video{
    position: relative;
    width:100%;
    height:5.266667rem;
    margin: .4rem auto;
    video{
        width: 100%;
        height: 100%;
    }
}

.dom{
    width: 100%;
    height: .666667rem;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: .706667rem;
    height:.706667rem;
    transform: translate(-50%,-50%);
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

.ww{
    width:2.56rem;
height:2.146667rem;
    margin-right: .32rem;
}

.wds{
    width: 100%;
    height: 100%;
}
.alle{
    width: 5.666667rem;
    height: 2.2rem;
    overflow: hidden;
}
}