@include:1;
.s-title{
    font-size:40px*@include;
    font-family:SourceHanSansCN-Bold;
    font-weight:bold;
    color:rgba(39,85,162,1);
    text-align: center;
    padding-top: 51px;
    padding-bottom: 31px;
}

.bannerImg{
    width: 100%;
    height: 100%;
}

.pc-tuwm{
    padding-top: 40px*@include;
    width: 1200px*@include;
    height: 502px*@include;
    img{
        width:594px*@include;
        height:502px*@include;
        margin-right: 37px*@include;
    }
    margin: 0 auto;
    .cp-tuwen{
        font-size:34px*@include;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(255,222,0,1);
    }
    .tuwen-chan{
        font-size:16px*@include;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(255,255,255,1);
    }
}

.pc-wdma{
    
    width: 100%;
    height:585px*@include;
    background-color: #2755A2;
}

.zhuanli{
    padding-top: 56px*@include;
    text-align: center;
    font-size:40px*@include;
font-family:SourceHanSansCN-Bold;
font-weight:bold;
color:rgba(39,85,162,1);
padding-bottom: 39px*@include;
}

.zhuanli-desc{
    text-align: center;
    width:1196px*@include;
    margin: 0 auto;
font-size:16px*@include;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(176,176,176,1);
}
.v-chanjing{
    width: 1200px*@include;
    height: 675px*@include;
    margin: 0 auto;
    margin-bottom: 57px;
}
.quanji-pc{
    width: 1200px*@include;
    height: 675px*@include;
    
}

@media only screen and (min-width: 750px) and (max-width: 1366px) {
    @include:0.7;
.s-title{
    font-size:40px*@include;
    font-family:SourceHanSansCN-Bold;
    font-weight:bold;
    color:rgba(39,85,162,1);
    text-align: center;
    padding-top: 51px;
    padding-bottom: 31px;
}

.bannerImg{
    width: 100%;
    height: 100%;
}

.pc-tuwm{
    padding-top: 40px*@include;
    width: 1200px*@include;
    height: 502px*@include;
    img{
        width:594px*@include;
        height:502px*@include;
        margin-right: 37px*@include;
    }
    margin: 0 auto;
    .cp-tuwen{
        font-size:34px*@include;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(255,222,0,1);
    }
    .tuwen-chan{
        font-size:16px*@include;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(255,255,255,1);
    }
}

.pc-wdma{
    
    width: 100%;
    height:585px*@include;
    background-color: #2755A2;
}

.zhuanli{
    padding-top: 56px*@include;
    text-align: center;
    font-size:40px*@include;
font-family:SourceHanSansCN-Bold;
font-weight:bold;
color:rgba(39,85,162,1);
padding-bottom: 39px*@include;
}

.zhuanli-desc{
    text-align: center;
    width:1196px*@include;
    margin: 0 auto;
font-size:16px*@include;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(176,176,176,1);
}
.v-chanjing{
    width: 1200px*@include;
    height: 675px*@include;
    margin: 0 auto;
    margin-bottom: 57px;
}
.quanji-pc{
    width: 1200px*@include;
    height: 675px*@include;
    
}
}    






@media only screen and (min-width: 0px) and (max-width: 750px) {
    .mb-bom{
        width: 100%;
        height: 0.5rem;
    }
  .mb-video{
      width: 9.346667rem;
      height: 5.266667rem;
      margin: 0 auto;
      position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
  }
  #mb-video{
      width: 100%;
      height: 100%;
  }
  .mb-play{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: .706667rem;
      height: .706667rem;
      
      img{
          width: 100%;
      }
  }
  .mb-tuwen{
    width:100%;
    height:14.066667rem;
    background:rgba(39,85,162,1);
  }
  .cleye-mb{
    font-size:.6rem;
    font-family:SourceHanSansCN-Bold;
    font-weight:bold;
    text-align: center;
    color:rgba(255,222,0,1);
    padding-top: .5rem;
  }
  .mb-chanjing{
      img{
          width: 100%;
          height: 100%;
      }
    width:9.053333rem;
    height:7.653333rem;
    margin: 0 auto;
    background:rgba(255,255,255,1);
  }
  .mbs-desc{
    width:8.96rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size:.32rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
  }
  .clear{
      clear: both;
  }
  .m-s-dis{
    clear: both;
    width:8.92rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    font-size:.32rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(176,176,176,1);
  }
  .quanjking{
      display: block;
      img{
          width: 100%;
          height: 100%;
      }
    width:9.346667rem;
    height:5.266667rem;
    margin: 0 auto;
  }
  .mb-bom{
      clear: both;
  }
}    