

@media only screen and (min-width:0px) and (max-width: 750px) {
    .mb-bdo{
        width: 100%;
        height: 0.8rem;
    }
    .sach {
        width: 100%;
        margin: 0 auto;
    }
    .sach .li{
        width: 90%;
        margin: 0 auto;
        img{
            width: 100%;
        }
        padding-top: 0px;
    padding-left: 0px;
    }
    .sach .li .desc{
        width: 90%;
        margin: 0 auto;
    }
}